<mat-toolbar class="toolbarTopSection">

    <div class="mat-headline titelprofileSection">Intressen</div>

    <span class="example-spacer"></span>
    <button mat-mini-fab  class="btnEdit" (click)="openDialogEditIntressen()" *ngIf="this.profileDictionary.userInfo.site_id == this.profileDictionary.LogedInUserInfo.site_id">
      <mat-icon>edit</mat-icon>
    </button>
   

  </mat-toolbar>

  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip class="intressen" *ngFor="let kompo of this.profileDictionary.Intressens">
      {{ kompo.name }}
    </mat-chip>


  </mat-chip-list>