<div class="flex items-center justify-between toolbarTopSection">
  <div class="text-2xl titelprofileSection">Intressen</div>
  <span class="flex-grow"></span>
  <button mat-mini-fab class="btnEdit" (click)="openDialogEditIntressen()" *ngIf="this.profileDictionary.userInfo.site_id == this.profileDictionary.LogedInUserInfo.site_id">
    <mat-icon>edit</mat-icon>
  </button>
</div>

<mat-chip-list #chipList aria-label="Fruit selection">
  <mat-chip class="intressen" *ngFor="let kompo of this.profileDictionary.Intressens">
    {{ kompo.name }}
  </mat-chip>
</mat-chip-list>
