<div class="grid">
  <!-- z-40 h-screen -->
<aside id="default-sidebar" class="row-start-1 col-span-2 auto-cols-min  transition-transform  sm:translate-x-0" aria-label="Sidebar">
  <div [ngClass]="styleModeService.mode === 'light' ?
      'h-full px-3 py-4 overflow-y-auto bg-gray-50' :
      'h-full px-3 py-4 overflow-y-auto bg-gray-900'">
    <ul class="space-y-2 font-medium">
      <!-- selected -->
      <li *ngFor="let aside of subMenu" [ngClass]="{ ' bg-gray-700': aside.routerLink === currentRoute }">
        <a [routerLink]="[aside.routerLink]" [ngClass]="styleModeService.mode === 'light' ?
          'flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100' :
          'flex items-center p-2 rounded-lg text-white hover:bg-gray-700'">
          <svg aria-hidden="true" [ngClass]="styleModeService.mode === 'light' ?
              'w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900' :
              'w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white'" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
            </path>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">
            {{ aside['name'] }}
          </span>
          <!-- <span
            [ngClass]="styleModeService.mode === 'light' ?
            'inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full' :
            'inline-flex items-center justify-center px-2 ml-3 text-sm font-medium  rounded-full bg-gray-700 text-gray-300'">Pro</span> -->
        </a>
      </li>
    </ul>
  </div>
</aside>
<div class="row-start-1 col-span-10">
  <div *ngIf="!currentRoute">
    <p>{{introduction.name}}</p>
    <p>{{introduction.example}}</p>
    <p>{{introduction.description}}</p>
  </div>
  <div *ngIf="currentRoute">
    <router-outlet></router-outlet>
  </div>
</div>
</div>
