
          <mat-toolbar class="toolbarTopSection">

            <div class="mat-headline titelprofileSection">Erfarenhet <mat-icon>work</mat-icon>
            </div>

            <span class="example-spacer"></span>

            <button class="btnAdd" mat-mini-fab aria-label="Example icon button with a home icon" (click)="openDialogAddErfarenhet()" *ngIf="this.profileDictionary.userInfo.site_id == this.profileDictionary.LogedInUserInfo.site_id">
              <mat-icon>add</mat-icon>
            </button>

          </mat-toolbar>



          <div fxLayout="row" class="rowcontent"  fxLayoutAlign="space-around center" *ngFor="let experience of this.profileDictionary.Erfarenhets">

            <div fxLayout="column" fxFlex=10>
              <ngx-avatar size="100"  class="imgProfile" name="{{ experience.name }}"></ngx-avatar>

              <!-- <img class="imgProfile" src="{{ SERVER_URL }}{{ kompo.img }}" alt="there is no image"> -->

            </div>
            <div fxLayout="column" fxFlex=80>
              <div fxLayout="row">
                <div class="mat-h2">{{ experience.name }}</div>
                <!-- <div class="mat-h2">{{ kompo.content }}</div> -->
              </div>

              <div fxLayout="row">
                <div class="mat-h3">{{ experience.company }}</div>
                <!-- <div class="mat-h2">{{ kompo.name }}</div> -->
              </div>
              <div fxLayout="row">
                <div class="mat-h4">{{ experience.plats }}</div>
                <!-- <div class="mat-h3">{{ experience.plats }}</div> -->
              </div>
              <div fxLayout="row">
                <div class="mat-h4">{{ experience.content }}</div>
                <!-- <div class="mat-h3">{{ experience.plats }}</div> -->
              </div>
              <div fxLayout="row">
                <div class="mat-body">

                </div>
                <!-- <div class="mat-body">Mellan {{ kompo.started_at }} och {{ kompo.ended_at
                  }}
                </div> -->
              </div>
            </div>
            <div fxLayout="column" fxFlex=5>
              <button class="btnEdit" mat-mini-fab aria-label="Example icon button with a home icon" (click)="openDialogEditErfarenhet(experience)" *ngIf="this.profileDictionary.userInfo.site_id == this.profileDictionary.LogedInUserInfo.site_id">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div fxLayout="column" fxFlex=5>
            </div>

          </div>

