<div>            
  <div class="rowContant">
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxLayout="column" fxFlex=50>
        <mat-form-field appearance="outline">
          <mat-label>Sverige län</mat-label>
          <mat-select [formControl]="stateControl" required [(ngModel)]="this.profileDictionary.userInfo.state">
            <mat-option>--</mat-option>
            <div *ngFor="let Lan of LanKommun" >
            <mat-option [value]="Lan.title" *ngIf="Lan.type =='L'">{{Lan.title}}</mat-option>
            </div>
          </mat-select>
          <mat-error *ngIf="stateControl.hasError('required')">Vänligen välja ett länt</mat-error>
          <mat-hint>välja från listan</mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxFlex=50>
          <mat-form-field class="example-full-width" appearance="outline" >
            <mat-select [(ngModel)]="this.profileDictionary.userInfo.city">
              <div *ngFor="let option of filteredCityOptions | async" >
                <mat-option [value]="option.title" *ngIf="option.type =='K'">{{option.title}}</mat-option>
              </div>
            </mat-select>
          </mat-form-field>
      </div>
    </div>
  </div>
  <button mat-button  matStepperPrevious class="btnBack">Back</button>
  <button mat-button  matStepperNext class="btnNext" (click)="OnSubmitPlats()">Next</button>
</div>