<mat-toolbar class="toolbarTopSection">
  <div class="text-2xl titelprofileSection">Dina uppgifter</div>
  <span class="flex-grow"></span>
  <button mat-mini-fab class="btnEdit" (click)="openDialogEditPersonUppgifter()" *ngIf="this.profileDictionary.userInfo.site_id == this.profileDictionary.LogedInUserInfo.site_id">
    <mat-icon class="edit">edit</mat-icon>
  </button>
</mat-toolbar>

<div class="rowContant">
  <div class="text-xl">Kontakt</div>

  <div class="flex justify-around items-center space-x-10">
    <div class="flex flex-col flex-1/2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Full namn</mat-label>
        <input matInput disabled>
        <app-selection-loader *ngIf="!this.profileDictionary.PersonaInfoLoaded" Cheight="100" Cwidth="100"></app-selection-loader>
        <div class="text-base" *ngIf="this.profileDictionary.PersonaInfoLoaded">{{ this.profileDictionary.userInfo.first_name }}</div>
        <mat-icon matSuffix>person_pin</mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col flex-1/2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Befattning</mat-label>
        <input matInput disabled>
        <app-selection-loader *ngIf="!this.profileDictionary.PersonaInfoLoaded" Cwidth="100" Cheight="100"></app-selection-loader>
        <div type="tel" class="text-base" *ngIf="this.profileDictionary.PersonaInfoLoaded">{{ this.profileDictionary.userInfo.profession }}</div>
        <mat-icon matSuffix>title</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="flex justify-between space-x-10">
    <div class="flex flex-col flex-1/2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>E-post</mat-label>
        <input matInput disabled>
        <app-selection-loader *ngIf="!this.profileDictionary.PersonaInfoLoaded" Cwidth="100" Cheight="100"></app-selection-loader>
        <div class="text-base" *ngIf="this.profileDictionary.PersonaInfoLoaded">{{ this.profileDictionary.userInfo.email }}</div>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col flex-1/2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Telephone</mat-label>
        <input matInput disabled>
        <app-selection-loader *ngIf="!this.profileDictionary.PersonaInfoLoaded" Cwidth="100" Cheight="100"></app-selection-loader>
        <div type="tel" class="text-base" *ngIf="this.profileDictionary.PersonaInfoLoaded">
          <span class="prefix">+46(0) &nbsp;</span> {{ this.profileDictionary.userInfo.phone }}
        </div>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="rowContant">
  <div class="text-2xl">Plats</div>

  <div class="flex space-x-10">
    <div class="flex flex-col flex-1/2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Län</mat-label>
        <input matInput disabled>
        <app-selection-loader *ngIf="!this.profileDictionary.PersonaInfoLoaded" Cwidth="100" Cheight="100"></app-selection-loader>
        <div class="text-base" *ngFor="let Lan of LanKommun" >
          <div *ngIf="Lan.id == this.profileDictionary.userInfo.state">{{ Lan.title }}</div>
        </div>
        <mat-icon matSuffix>place</mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col flex-1/2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Stad</mat-label>
        <input matInput disabled>
        <app-selection-loader *ngIf="!this.profileDictionary.PersonaInfoLoaded" Cwidth="100" Cheight="100"></app-selection-loader>
        <div class="text-base" *ngIf="this.profileDictionary.PersonaInfoLoaded">{{ this.profileDictionary.userInfo.city }}</div>
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="rowContant">
  <div class="text-2xl">Social media</div>

  <div class="flex space-x-10">
    <div class="flex flex-col flex-1/2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Linkdin</mat-label>
        <input matInput disabled>
        <app-selection-loader *ngIf="!this.profileDictionary.PersonaInfoLoaded" Cwidth="100" Cheight="100"></app-selection-loader>
        <div class="text-base" *ngIf="this.profileDictionary.PersonaInfoLoaded">@{{ this.profileDictionary.userInfo.Linkdin_link }}</div>
        <mat-icon matSuffix><i class='fab fa-linkedin fa-sm'></i></mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col flex-1/2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Facebook</mat-label>
        <input matInput disabled>
        <app-selection-loader *ngIf="!this.profileDictionary.PersonaInfoLoaded" Cwidth="100" Cheight="100"></app-selection-loader>
        <div class="text-base" *ngIf="this.profileDictionary.PersonaInfoLoaded">@{{ this.profileDictionary.userInfo.Facebook_link }}</div>
        <mat-icon matSuffix><i class='fab fa-facebook fa-sm'></i></mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col flex-1/2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Twitter</mat-label>
        <input matInput disabled>
        <div class="text-base">@Twitter</div>
        <mat-icon matSuffix>headset_mic</mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col flex-1/2">
      <mat-form-field appearance="outline">
      <mat-label>Annan</mat-label>
      <input matInput disabled>
      <app-selection-loader *ngIf="!this.profileDictionary.PersonaInfoLoaded" Cwidth="100" Cheight="100"></app-selection-loader>

      <div class="mat-Subtitle" *ngIf="this.profileDictionary.PersonaInfoLoaded">{{ this.profileDictionary.userInfo.othersSocialMedia }}</div>
      <mat-icon matSuffix>headset_mic</mat-icon>
    </mat-form-field>
  </div>


</div>
</div>
