
.example-spacer {
  flex: 1 1 auto;
}

.toolbarTopSection{
  background-color: rgb(255, 255, 255);
  border-radius: 10px  10px;
  box-shadow: 0px 0px 2px 2px rgba(248, 248, 248, 0.733);
  padding: 1%;
  text-shadow: 1px 1px 1px #ffffff ;  
  margin-bottom: 1%;
  }
  .titelprofileSection{color:  rgba(94, 160, 207, 0.993);
  margin: auto;
  }

.mat-subheading-2{ color: rgb(53, 53, 53);}



.rowContant{
  border: 1px dotted rgb(138, 228, 255);
  border-radius: 10px;
  padding: 1%;
  margin-bottom: 1%;

}


 .btnEdit{

  background-color: rgb(61, 148, 219);
  color: #ffffff;

 }

 .btnEdit:hover{
  background-color: rgb(19, 94, 155);
  color: #ffffff;

 }

 .mat-h2{
   color: rgb(76, 144, 175);
   margin-left: 1%;
 }
 .mat-Subtitle{
  color: rgb(87, 102, 109)
 }

 mat-icon{
   color: rgb(0, 128, 128);
 }

 .edit{
   color: white;
 }

