<div class="popContainer">
    <h3>Är du säker?</h3>
    <img src="assets/img/sademoji.png" alt="" style="width: 90px;">
    <p>När du klickar på "Ja" kan du inte ågra dig.</p>
    <h2>Vi vill gärna behåla dig</h2>
    <p>Vill du prata med oss? Vi vill gärna höra av dig vi 0763-95 77 77</p>
    
    <br>

    <section class="btns">
        <button mat-raised-button class="btnAvbryt" mat-dialog-close>Avbryt</button>
    
        <button mat-raised-button class="btnDelete" (click)="deleteAccount()">Ja</button>
    </section>

</div>


