
.btnSpara {
  background-color: rgb(255, 255, 255);
  color: rgb(42, 196, 170);
  border-radius: 10px;
  border: rgb(42, 196, 170) solid 2px;
  margin-right: 5%;
}

.btnSpara:hover {
  background-color: rgb(54, 150, 129);
  color: white;
  border-radius: 10px;
  border: white solid 2px;
}

.header {
  background-color: rgb(248, 248, 248);
  color: rgb(55, 121, 175);
  border-radius: 10px;
}

.rowContant{
  border: 1px dotted rgb(211, 211, 211);
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 1%;

}


mat-toolbar {
  background-color: rgb(255, 255, 255);
}

.example-spacer {
  flex: 1 1 auto;
}

.iconCancel {
  color: rgb(255, 71, 95);
  cursor: pointer;
}

.mat-h2,
mat-form-field {
  color: #46a2b9;
}

mat-form-field {
  color: #093742;
}