<p>image-edit works!</p>

<div class="imgProfile" *ngIf="this.picture && this.picture !== ''">
  <img title="image" [src]="this.picture" width="100px" height="100px">
</div>

<div class="container flex flex-col items-center justify-center">
  <input type="file" accept="image/*" #fileDropRef id="fileDropRef" multiple (change)="showPreview($event)" class="hidden" />
  <img src="assets/img/dnd/ic-upload-file.svg" alt="" class="w-16 h-16" />
  <h3>Drag and drop file here</h3>
  <h3>or</h3>
  <label for="fileDropRef" class="cursor-pointer">Browse for file</label>
</div>

<button mat-raised-button color="warn" class="btnSpara mt-4" (click)="uploadImage()">Spara</button>
