<div class="profile-container">
  <div class="profile-header-container">
    <div class="profile-section-header">
      <app-profile-header [profileDictionary]="profileDictionary"></app-profile-header>
    </div>
  </div>

  <div class="profile-grid">
    <div class="profile-section">
      <app-about [profileDictionary]="profileDictionary"></app-about>
    </div>
    <div class="profile-section">
      <app-personal-info [profileDictionary]="profileDictionary"></app-personal-info>
    </div>
    <div class="profile-section">
      <app-experience [profileDictionary]="profileDictionary"></app-experience>
    </div>
    <div class="profile-section">
      <app-study [profileDictionary]="profileDictionary"></app-study>
    </div>
    <div class="profile-section">
      <app-competencies [profileDictionary]="profileDictionary"></app-competencies>
    </div>
    <div class="profile-section">
      <app-interests [profileDictionary]="profileDictionary"></app-interests>
    </div>
  </div>
</div>
